[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
dparse = {extras = ["pipenv"],version = "*"}
flake8 = "*"
flower = "*"
black = "==19.3b0"
pylint = "*"

[packages]
celery = "==4.3.0"
django = "==2.2.6"
django-celery-beat = "==1.5.0"
django-celery-email = "==2.0.2"
django-celery-results = "==1.1.2"
django-configurations = "==2.1"
django-debug-toolbar = "==2.0"
djangorestframework = "==3.10.3"
flower = "==0.9.3"
mysqlclient = "==1.4.4"
redis = "==3.3.11"
six = "==1.12.0"
uuid = "*"
django-filter = "*"
django-ipware = "*"
django-crispy-forms = "*"
django-widget-tweaks = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
