<!DOCTYPE html>
<html lang="en-us">
{% block head %}
    {% include "generic/parts/head.html" %}
{% endblock head %}
<body>
  <div id="App">
      <div id="holder">
      {% block header %}
          {% include "generic/parts/header.html" %}
      {% endblock header %}
      
      <div class="container-fluid">
        {% block main %}
        <h1>MAIN main</h1>
        {% endblock main %}
      </div>
      
      {% block footer %}
          {% include "generic/parts/footer.html" %}
      {% endblock footer %}
      </div>
  </div>
</body>

</html>